include README.md
include LICENSE
include pyproject.toml
recursive-include . *.py
recursive-include baml_src *
recursive-include baml_client *.py
global-exclude *.pyc
global-exclude __pycache__/*
global-exclude *.egg-info/*